@import "bulma/bulma.sass";



$black: #000000ff;
$oxford-blue: #14213dff;
$orange-web: #fca311ff;
$platinum: #e5e5e5ff;
$white: #ffffffff;

$success: #043e06;
$info: #002044;
$warning: #604700;
$error: #450103;



$padd: 8px 15px;
$padd2: 5px 10px;
$rad: 10px;
$shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
* {
  box-sizing: border-box;
}
.input,.textarea{
  border-radius: 0;
}

.modal-card-head{
  padding: $padd;
  border-radius: 0;
  background: lighten($platinum,5%);
  border-bottom: none;
}
.modal-card-foot{
  padding: $padd;
  border-radius: 0;
border-top: none;
background: white;
}
// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// Set your brand colors

// Update Bulma's global variables
$family-sans-serif: "Raleway", sans-serif;

$primary: $oxford-blue;
$link: $info;
$red: $error;

// Update some of Bulma's component variables

// Import only what you need from Bulma
